body {
  font-family: Montserrat clasicc, sans-serif;
}

.parallax {
  height: 50rem;
  background-image: url(http://localhost:5000/bk.jpg);
  background-size: cover;
  /* Ajustar la imagen para cubrir todo el contenedor */
  background-position: center;
  /* Centrar la imagen en el contenedor */
  text-shadow: 3px 3px 4px rgb(0, 0, 0);

}



/* Agrega un contenedor para el modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  /* Fondo oscuro con transparencia */
  z-index: 9999;
  /* Asegura que el modal esté por encima de otros elementos */
}

/* Animación para pantallas más grandes (no móviles) */
@keyframes volar {
  0% {
    transform: translateX();
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(80vw);
  }
}

/* Estilos para dispositivos móviles (ancho de pantalla máximo de 600px) */
@media screen and (max-width: 600px) {
  @keyframes volar-mobile {
    0% {
      transform: translateX();
      opacity: 0;
    }

    15% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(40vw);
    }
  }
}

/* Clase para el elemento que deseas animar */
.avion {
  /* Animación para pantallas más grandes (no móviles) */
  animation: volar 3s ease-in forwards;

  /* Animación para dispositivos móviles */
  @media screen and (max-width: 600px) {
    animation: volar-mobile 2s ease-in forwards;
  }
}

.react-calendar {
  width: 45rem;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a0961f;
  border-radius: 10px;
  display: inline-block;
}

.react-calendar--doubleView {
  width: 800px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 10px;
  border-radius: 10px;
  border: 0;
  outline: none;
}

.high {

  background-color: rgb(255, 80, 80) !important;
}

.tile.high,
.tile.low,
.tile.medium {
  margin-top: 0.25rem;
  font-size: small;
  color: white;
}

.medium {

  background-color: rgb(255, 199, 94) !important;
}

.low {

  background-color: rgb(54, 238, 54) !important;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  gap: 20px;
  /* Ajusta el espaciado entre los botones de navegación */
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #c42b2b;
  opacity: 0.7;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 15px 10px;
  /* Ajusta el espaciado interno de las fechas */
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #1b6dbe;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #94a2b1;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-calendar .selected {
  background-color: #41a0ff !important;
}


.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
}


.react-calendar__tile {
  max-width: initial !important;
}

.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view__decades {
  display: grid !important;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.react-calendar__year-view__months {
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.react-calendar__tile {
  max-width: initial !important;
}



.popup {
  min-width: 10vw;
  min-height: 5vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.app-title {
  text-align: center;
  color: #777;
}

.login-form {

  text-align: center;
}

.login-group {
  padding: 10px;
}

.login-field {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #3498DB !important;
  box-shadow: none !important;
}

.btn-ingresar {
  border: 2px solid transparent !important;
  background: #3498DB !important;
  color: #ffffff !important;
  font-size: 16px !important;
  line-height: 25px !important;
  padding: 0 !important;
  text-decoration: none !important;
  text-shadow: none !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  transition: 0.25s !important;
  display: block !important;
  width: 250px !important;
  margin: 0 auto !important;
}

.btn-ingresar:hover {
  background-color: #2980B9 !important;
}

.login-link {
  text-decoration: none;
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}



.buttons-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 200px;
}


.mis-compras-btn {


  height: 3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  box-shadow: 1px 1px 3px #b5b5b5,
    -1px -1px 3px #ffffff;
}

.mis-compras-btn:hover {
  background-color: rgba(9, 255, 0, 0.479);

}

.mis-compras-btn:active {
  box-shadow: inset 3px 3px 6px #b5b5b5,
    inset -3px -3px 6px #ffffff;
}

.logout-btn {
  height: 3em;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 0, 0, 0.253);
  outline: none;
  transition: .4s ease-in-out;
  box-shadow: 1px 1px 3px #b5b5b5,
    -1px -1px 3px #ffffff;
}